
<mat-card class="custom-card" appearance="outlined">
    <mat-card-header>
      <mat-card-title>Cadastrar novo setor</mat-card-title>
    </mat-card-header>
  
    <mat-card class="nested-card" appearance="outlined">
      <form [formGroup]="form">
        <mat-form-field>
          <input
            matInput
            placeholder="Nome do setor"
            formControlName="description"
            [value]="this.form.value.description"
          />
        </mat-form-field>
      </form>
    </mat-card>
  
    <mat-card-actions>
      <button mat-fab extended (click)="onSubmit()">
        <mat-icon>add</mat-icon>
        Adicionar
      </button>
      <button mat-fab extended (click)="onCancel()" class="cancel-button">
        <mat-icon>cancel</mat-icon>
        Cancelar    
      </button>
    </mat-card-actions>
  </mat-card>
  