@if (this.router.url !== '/login') {
<mat-toolbar color="primary">
  <button mat-icon-button class="example-icon" (click)="showNavSlide()">
    <mat-icon>menu</mat-icon>
  </button>
  <span>Gerenciamento de movimentações</span>
</mat-toolbar>

@if (shouldRun) {

<div class="container">
  <div class="left">
    <div class="list">
      <button mat-button class="button-list">Pedidos</button>
      <button mat-button class="button-list">Produtos</button>
      <button mat-button class="button-list">Partes</button>
      <button
        mat-button
        class="button-list"
        (click)="this.router.navigate(['/sectors'])"
      >
        Setores
      </button>
      <button mat-button class="button-list">Partes</button>
      <button mat-button class="button-list">Pessoas</button>
    </div>
  </div>
  <div class="right">
    <router-outlet class="teste"></router-outlet>
  </div>
</div>

} @else {
<div class="container">
  <div class="right">
    <router-outlet class="teste"></router-outlet>
  </div>
</div>
} } @else {
<router-outlet class="teste"></router-outlet>
}
